<div class="container">
  <div class="row">
    <div class="container alert-dark mt-5" style="border-radius: 25px; padding: 20px">
      <div class="row align-items-center">
        <p class="text-center my-3 text-uppercase">marketplace</p>
      </div>
      <form class="py-5">
        <div class="row align-items-center">
          <div class="btn-group col">
            <button type="button" class="btn btn-danger dropdown-toggle form-control" data-bs-toggle="dropdown" aria-expanded="false">
              Catégorie
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
          <div class="col-6">
            <input type="text" class="form-control" placeholder="Recherche">
          </div>
          <div class="btn-group col">
            <button type="button" class="btn btn-danger dropdown-toggle form-control" data-bs-toggle="dropdown" aria-expanded="false">
              Département
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="row my-4 text-center">
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="professionalCheckbox">
              <label class="form-check-label" for="professionalCheckbox">
                Professionel
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="particularCheckbox">
              <label class="form-check-label" for="particularCheckbox">
                Particulier
              </label>
            </div>
          </div>
          <div class="col">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="orgCheckbox">
              <label class="form-check-label" for="orgCheckbox">
                Organisation
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="row my-3">
    <div class="col-3 offset-9 text-center">
      <button type="button" class="btn btn-dark dropdown-toggle form-control" data-bs-toggle="dropdown" aria-expanded="false">
        Trier par
      </button>
    </div>
  </div>
  <div class="row">
    <div class="container alert-dark align-middle" style="border-radius: 25px; padding: 20px">
      <div *ngFor="let item of items" class="row alert-light py-4 m-4" style="border-radius: 25px; padding: 20px">
        <div class="col-5 text-center">
          <img src="{{item.imageLink}}" alt="Product Image" class="img-thumbnail" height="150" width="150">
        </div>

        <div class="col">
          <div class="row">
            <div class="col">
              <h3>
                {{item.name}}
              </h3>
            </div>
            <div class="col-1 mx-3">
              <h2>
                {{item.price}}
              </h2>
            </div>
          </div>

          <div class="row">
            <p>
              {{item.category}}
            </p>
          </div>

          <div class="row">
            <p class="fst-italic">
              {{item.cityAndPostalCode}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
