<div class="main_div">

  <div class="logo col-md-3">
    <a routerLink="home"><img id="logo" src="assets/logo.png"></a>
  </div>


  <div class="col-md-9 navbar-buttons">
    <div *ngIf="!authService.isConnected()" class="navbar-button">
      <button>
        Connexion
      </button>
    </div>

    <div *ngIf="authService.isConnected()" class="navbar-button">
      <div>
        <button style="z-index: 10">
          user + logo
        </button>
      </div>
        <div class="dropdown-user">
          <div>
            <a routerLink="myProduct"> Mes produits</a>

          </div>
          <div>
            parametres
          </div>
        </div>




    </div>

    <div *ngIf="authService.isConnected()" class="navbar-button ">
      <button>
        message
      </button>
    </div>


  </div>


</div>
