<div class="main_div">

  <div class="logo col-md-3">
    <a routerLink=""><img id="logo" src="assets/logo.png"></a>
  </div>


  <div class="col-md-9 navbar-buttons">
    <div  *ngIf="!authService.isConnected() && !auth" class="navbar-button">
      <button (click)="goToAuth()">
        Connexion
      </button>
    </div>

    <div  *ngIf="!authService.isConnected() && !register" class="navbar-button">
      <button (click)="goToRegister()">
        S'inscrire
      </button>
    </div>

    <div *ngIf="authService.isConnected()" class="navbar-button">

      <button mat-button [matMenuTriggerFor]="menu">user + logo</button>

      <mat-menu #menu="matMenu">

        <a routerLink="myProduct"><button mat-menu-item> Mes produits</button></a>
        <a routerLink="myEvent"><button mat-menu-item> Mes évènements</button></a>
        <button mat-menu-item (click)="logout()"> Déconnexion</button>

      </mat-menu>

    </div>




    <div *ngIf="authService.isConnected()" class="navbar-button ">
      <button (click)="btnClick()">
        message
      </button>
    </div>


  </div>


</div>
