<div class="main_block">
  <div id="title"><h2> Création d'event </h2></div>

  <div>

    <form [formGroup]="eventForm">

      <div class="left-side-form">
        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Intitulé</mat-label>
            <input formControlName="title" matInput placeholder="Intitulé" type="text" >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Description</mat-label>
            <input formControlName="description" matInput placeholder="Description" type="text" >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Date de début</mat-label>
            <input formControlName="startDate" matInput placeholder="Date de debut" type="date" >
            <mat-hint> hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Date de fin</mat-label>
            <input formControlName="endDate" matInput placeholder="Date de fin" type="date" >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Type d'évenement</mat-label>
            <mat-select formControlName="eventType">
              <mat-option value="ECOLOGICAL">Ecologique</mat-option>
              <mat-option value="HUMANITARIAN">Humanitaire</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <div class="right-side-form">

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Nombre de participant minimal</mat-label>
            <input formControlName="minParticipant" matInput placeholder="min participant" type="number" >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Nombre de participant maximal</mat-label>
            <input formControlName="maxParticipant" matInput placeholder="max participant" type="number" >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <mat-form-field appearance="legacy">
          <mat-label>Number</mat-label>
          <input type="text"
                 placeholder="Adresse"
                 matInput
                 (input)="filter($event)"
                 formControlName="address"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of options " [value]="option" (click)="setAddress(option)">
              {{option?.properties?.label}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Code postal</mat-label>
            <input formControlName="zip" matInput placeholder="Code postal" type="text" readonly >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Ville</mat-label>
            <input formControlName="city" matInput placeholder="Ville" type="text" readonly>
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

      </div>

      <div class="submit_button">
        <button (click)="onSubmit()" class="btn btn-danger" [disabled]="!eventForm.valid">Créer l'event</button>
      </div>

    </form>

  </div>

</div>


<div id="overlay" (click)="closeFormF()"></div>
