<div class="main_block">
  <div id="title"><h2> Création d'event </h2></div>

  <div>

    <form [formGroup]="eventForm">

      <div class="left-side-form">
        <div class="form-goup">
          <label class="label_input">
            Titre :
          </label>
          <input class="form-control" formControlName="title" id="title_" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Description :
          </label>
          <input class="form-control" formControlName="description" id="description" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Date de début :
          </label>
          <input class="form-control" formControlName="startDate" id="startDate" type="date">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Date de fin :
          </label>
          <input class="form-control" formControlName="endDate" id="endDate" type="date">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Type d'évenement :
          </label>
          <select formControlName="eventType">
            <option value="ECOLOGICAL">Ecologique</option>
            <option value="HUMANITARIAN">Humanitaire</option>
          </select>
        </div>

        <div class="form-goup">
          <label class="label_input">
            Nombre de participant (max) :
          </label>
          <input class="form-control" formControlName="maxParticipant" id="maxParticipant" type="number">
        </div>

      </div>

      <div class="right-side-form">

        <div class="form-goup">
          <label class="label_input">
            Nombre de participant (min) :
          </label>
          <input class="form-control" formControlName="minParticipant" id="minParticipant" type="number">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Image :
          </label>
          <input class="form-control" formControlName="image" id="image" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Lieu (adresse) :
          </label>
          <input class="form-control" formControlName="address" id="address" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Code Postal :
          </label>
          <input class="form-control" formControlName="zip" id="zip" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Pays :
          </label>
          <input class="form-control" formControlName="country" id="country" type="text">
        </div>

      </div>

      <button (click)="onSubmit()" class="btn btn-danger">Créer l'event</button>

    </form>

    <button (click)="loadEvent()"> load</button>
  </div>

</div>


<div id="overlay"></div>
