<div class="main_block">
  <div id="title"><h2> Modification produit </h2></div>

  <div>

    <form [formGroup]="updateProductForm">

      <div class="main-side-form">

        <div class="form-goup">

          <mat-form-field appearance="legacy">
            <mat-label>Titre : </mat-label>
            <input formControlName="name" matInput placeholder="titre" type="text" value="{{productToUpdate?.name}}">
            <mat-hint> hint </mat-hint>
          </mat-form-field>

        </div>

        <div class="form-goup">

          <mat-form-field appearance="legacy">
            <mat-label>Description :</mat-label>
            <input formControlName="description" matInput placeholder="description" type="text" value="{{productToUpdate?.description}}">
            <mat-hint> hint </mat-hint>
          </mat-form-field>

        </div>

        <div class="form-goup">

          <mat-form-field appearance="legacy">
            <mat-label>Prix :</mat-label>
            <input formControlName="price" matInput placeholder="" type="number" value="{{productToUpdate?.price}}">
            <mat-hint> hint </mat-hint>
          </mat-form-field>

        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Catégorie produit</mat-label>
            <mat-select formControlName="category" [(value)]="selectedcCategory">
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let category of productCategories;" [value]="category.name"> {{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Négociable :</mat-label>
            <mat-select formControlName="negotiable" [(value)]="selectedNegotiable">
              <mat-option value="TRUE" >Oui</mat-option>
              <mat-option value="FALSE" >Non</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>

      <button (click)="onSubmit()" class="btn btn-danger"> Modifier le produit</button>

    </form>

  </div>

</div>


<div id="overlay" (click)="closeFormF()"></div>
