<div class="main_block col-6">
  <div class="row my-3">
    <div class="col-12 text-center" style="background-color: #0a58ca">
      <form [formGroup]="searchProductForm" >

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Nom produit</mat-label>
            <input formControlName="name" matInput type="text" >
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Prix minimum</mat-label>
            <input formControlName="minPrice" matInput type="number" >
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Prix maximum</mat-label>
            <input formControlName="maxPrice" matInput type="number" >
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Catégorie Produit</mat-label>
            <mat-select formControlName="category" multiple>
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let category of auctionSaleCategories;" [value]="category.name"> {{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Négotiable</mat-label>
            <mat-select formControlName="negotiable">
              <mat-option value=""></mat-option>
              <mat-option value="TRUE">Oui</mat-option>
              <mat-option value="FALSE">Non</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button aria-expanded="false" class="btn btn-dark col-6 " data-bs-toggle="dropdown"
                type="button" type="submit">
          Rechercher
        </button>
      </form>
    </div>
  </div>
  <div class="row my-3">
    <div class="col-3 offset-9 text-center">
      <button (click)="showCreateForm()" aria-expanded="false" class="btn btn-dark  form-control" data-bs-toggle="dropdown"
              type="button">
        Créer une vente aux enchères
      </button>
    </div>
  </div>

  <div class="row">
    <div class="container alert-dark align-middle" style="border-radius: 25px; padding: 20px;">
      <div *ngFor="let myAuction of myAuctions" class="row alert-light py-4 m-4 " style="border-radius: 25px; padding: 20px" [ngClass]="{'available-product' : myAuction.state === 'AVAILABLE',
        'sold-product' : myAuction.state === 'SOLD'}">
        <div class="col-5 text-center">
          <img src="assets/bottle.jpg" alt="Product Image" class="img-thumbnail" height="150" width="150">
        </div>

        <div class="col ">
          <div class="row">
            <div class="col-md-8">
              <h3>
                {{myAuction.name}}
              </h3>
            </div>
            <div class="col-3 mx-3">
              <h2>
                {{myAuction.actualPrice}} €
              </h2>
            </div>
          </div>

          <div class="row">
            <p>
              Catégorie: {{myAuction.category?.name}}
            </p>
          </div>

          <div class="row">
            <p class="fst-italic">
              {{myAuction.description}}
            </p>
          </div>

          <div class="row">
            <p class="fst-italic">
              Date de fin : {{myAuction.endDate | date: 'fullDate': undefined : 'fr' }}
            </p>
          </div>

          <div class="row action-button">
            <button class="btn btn-primary" (click)="showInfos(myAuction)" >
              Infos
            </button>
          </div>

          <div class="row action-button" (click)="showUpdateForm(myAuction)" >
            <button class="btn btn-warning ">
              Modifier
            </button>
          </div>

          <div class="row action-button">
            <button class="btn btn-danger" (click)="deleteProduct(myAuction)">
              Supprimer
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<app-create-auction *ngIf="displayCreateForm" [closeForm]="closeCreateForm"></app-create-auction>
<!-- <app-update-product *ngIf="displayUpdateForm" [closeForm]="closeUpdateForm" [product]="productFocus"></app-update-product> -->
<app-auction-info *ngIf="displayInfos" [updateProduct]="updateProduct" [closeInfos]="closeInfos" [auction]="auctionFocus"></app-auction-info>
