app-discussion-list{
  display: block;
  width: 30%;
  height: 90%;
  float: left;
}

app-discussion-event-message-info{
  display: block;
  width: 30%;
  height: 90%;
  float: right;
}

app-discussion-event-message {
  display: block;
  width: 40%;
  height: 90%;
  float: left;
}
