<div class="main_block">
  <div id="title"><h2> Création de produit </h2></div>

  <div>

    <form [formGroup]="auctionSaleForm">

      <div class="main-side-form">
        <div class="form-goup">
          <label class="label_input">
            Nom :
          </label>
          <input class="form-control" formControlName="name" id="name" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Description :
          </label>
          <input class="form-control" formControlName="description" id="description" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Prix de départ :
          </label>
          <input class="form-control" formControlName="startPrice" id="price" type="number">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Catégorie de l'enchère :
          </label>
          <input class="form-control" formControlName="category" id="categoryProduct" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Date de fin :
          </label>
          <input class="form-control" formControlName="endDate" type="date">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Image :
          </label>
          <input class="form-control"  type="file" multiple (change)="selectImages($event)">
        </div>

      </div>

      <button (click)="onSubmit()" class="btn btn-danger"> Créer le produit</button>

    </form>

  </div>

</div>


<div id="overlay" (click)="closeFormF()"></div>
