<div class="main_block">

  <div class="central-block">
    <h2> INSCRIPTION </h2>


    <form [formGroup]="registerForm">

      <div class="left-side-form">

        <div class="form-goup">
          <label class="label_input">
            Email :
          </label>
          <input class="form-control" formControlName="email" id="email" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Mot de passe :
          </label>
          <input class="form-control" formControlName="password" id="password" type="text">

          <div *ngIf="password?.invalid">
            <p class="text-wrap m-0 text-danger">Le mot de passe doit contenir:<br>- Entre 8 et 30 caractères<br>- Une
              majuscule<br>- Une minuscule<br>- Un caractère spécial</p>
          </div>

        </div>

        <div class="form-goup">
          <label class="label_input">
            Confirmation mot de passse :
          </label>
          <input class="form-control" formControlName="confPassword" id="confPassword" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Nom :
          </label>
          <input class="form-control" formControlName="lastname" id="lastname" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Prénom :
          </label>
          <input class="form-control" formControlName="firstname" id="firstname" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Pseudo :
          </label>
          <input class="form-control" formControlName="pseudo" id="pseudo" type="text">
        </div>

      </div>

      <div class="right-side-form">

        <div class="form-goup">
          <label class="label_input">
            Role :
          </label>
          <select formControlName="role">
            <option value="USER">Utilisateur</option>
            <option value="PRO">Professionnel</option>
            <option value="ORGANISATION">Organisation</option>
          </select>
        </div>

        <div class="form-goup">
          <label class="label_input">
            Date de naissance :
          </label>
          <input class="form-control" formControlName="birthdate" id="birthdate" type="date">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Adresse :
          </label>
          <input class="form-control" formControlName="address" id="address" type="text">
        </div>


        <div class="form-goup">
          <label class="label_input">
            Code postal :
          </label>
          <input class="form-control" formControlName="zip" id="zip" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Pays :
          </label>
          <input class="form-control" formControlName="country" id="country" type="text">
        </div>

        <div class="form-goup">
          <label class="label_input">
            Téléphone :
          </label>
          <input class="form-control" formControlName="phone" id="phone" type="text">
        </div>

      </div>

      <button (click)="onSubmit()" [disabled]="!registerForm.valid" class="btn btn-danger">S'inscrire</button>

    </form>
  </div>
</div>
