<div class="main_block">

  <div class="central-block">
    <h2> INSCRIPTION </h2>

    <form [formGroup]="registerForm"  >

      <div class="left-side-form">

        <div class="form-goup">
          <label class="label_input">
            Email :
          </label>
          <input type="text" id="email" class="form-control" formControlName="email" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Mot de passe :
          </label>
          <input type="text" id="password" class="form-control" formControlName="password" >

          <div *ngIf="password?.invalid">
            <p class="text-wrap m-0 text-danger">Le mot de passe doit contenir:<br>- Entre 8 et 30 caractères<br>- Une
              majuscule<br>- Une minuscule<br>- Un caractère spécial</p>
          </div>

        </div>

        <div class="form-goup">
          <label class="label_input">
            Confirmation mot de passse :
          </label>
          <input type="text" id="confPassword" class="form-control" formControlName="confPassword" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Nom :
          </label>
          <input type="text" id="lastname" class="form-control" formControlName="lastname" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Prénom :
          </label>
          <input type="text" id="firstname" class="form-control" formControlName="firstname" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Pseudo :
          </label>
          <input type="text" id="pseudo" class="form-control" formControlName="pseudo" >
        </div>

      </div>

      <div class="right-side-form">

        <div class="form-goup">
          <label class="label_input">
            Role :
          </label>
          <select formControlName="role">
            <option>Utilisateur</option>
            <option>Professionnel</option>
            <option>Organisation</option>
          </select>
        </div>

        <div class="form-goup">
          <label class="label_input">
            Date de naissance :
          </label>
          <input type="date" id="birthdate" class="form-control" formControlName="birthdate" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Adresse :
          </label>
          <input type="text" id="address" class="form-control" formControlName="address" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Code postal :
          </label>
          <input type="text" id="zip" class="form-control" formControlName="zip" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Pays :
          </label>
          <input type="text" id="country" class="form-control" formControlName="country" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Téléphone :
          </label>
          <input type="text" id="phone" class="form-control" formControlName="phone"  >
        </div>

      </div>

      <button class="btn btn-danger" (click)="onSubmit()" [disabled]="!registerForm.valid" >S'inscrire</button>
    </form>
  </div>
</div>
