<div class="main_block">
  <div id="title"><h2> Création de produit </h2></div>

  <div>

    <form [formGroup]="productForm">

      <div class="main-side-form">
        <div class="form-goup">

          <mat-form-field appearance="legacy">
            <mat-label>Titre : </mat-label>
            <input formControlName="name" matInput placeholder="titre" type="text" >
            <mat-hint> hint </mat-hint>
          </mat-form-field>

        </div>

        <div class="form-goup">

          <mat-form-field appearance="legacy">
            <mat-label>Description :</mat-label>
            <input formControlName="description" matInput placeholder="description" type="text" >
            <mat-hint> hint </mat-hint>
          </mat-form-field>

        </div>

        <div class="form-goup">

          <mat-form-field appearance="legacy">
            <mat-label>Prix :</mat-label>
            <input formControlName="price" matInput placeholder="" type="number" >
            <mat-hint> hint </mat-hint>
          </mat-form-field>

        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Catégorie produit</mat-label>
            <mat-select formControlName="category" >
              <mat-option value=""></mat-option>
              <mat-option *ngFor="let category of productCategories;" [value]="category.name"> {{category.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-goup">

          <mat-form-field appearance="legacy">
            <mat-label>Quantity :</mat-label>
            <input formControlName="quantity" matInput placeholder="" type="number" >
            <mat-hint> hint </mat-hint>
          </mat-form-field>

        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Négociable :</mat-label>
            <mat-select formControlName="negotiable">
              <mat-option value="true">Oui</mat-option>
              <mat-option value="false">Non</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <label class="label_input">
            Image :
          </label>
          <input class="form-control"  type="file" multiple (change)="selectImages($event)">
        </div>

      </div>

      <button (click)="onSubmit()" class="btn btn-danger" [disabled]="!productForm.valid"> Créer le produit</button>

    </form>

  </div>

</div>


<div id="overlay" (click)="closeFormF()"></div>
