<div class="main_block">
  <div id="title"><h2> Modification évènement </h2></div>

  <div>

    <form [formGroup]="updateEventForm" (ngSubmit)="onSubmit()">

      <div class="main-side-form">
        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Intitulé</mat-label>
            <input formControlName="title" matInput placeholder="Intitulé" type="text" value="{{eventToUpdate?.title}}" >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Description :</mat-label>
            <input formControlName="description" matInput placeholder="Description" type="text" value="{{eventToUpdate?.description}}">
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="fill">
            <mat-label>Type d'évenement :</mat-label>
            <mat-select formControlName="eventType" [(value)]="selectedType">
              <mat-option value="HUMANITARIAN"> Humanitaire</mat-option>
              <mat-option value="ECOLOGICAL"> Ecologique</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Nombre de participant minimal</mat-label>
            <input formControlName="minParticipant" matInput placeholder="min participant" type="number" [defaultValue]=eventToUpdate?.minParticipant >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-goup">
          <mat-form-field appearance="legacy">
            <mat-label>Nombre de participant maximal</mat-label>
            <input formControlName="maxParticipant" matInput placeholder="min participant" type="number" [defaultValue]=eventToUpdate?.maxParticipant >
            <mat-hint>hint </mat-hint>
          </mat-form-field>
        </div>

      </div>

      <button type="submit" class="btn btn-danger"> Modifier l'évènement</button>

    </form>

  </div>

</div>


<div id="overlay" (click)="closeFormF()"></div>
