<div class="main_block">
  <div id="title"> <h2> Création de produit </h2> </div>

  <div>

    <form [formGroup]="productForm">

      <div class="main-side-form">
        <div class="form-goup">
          <label class="label_input">
            Nom :
          </label>
          <input type="text" id="name" class="form-control" formControlName="name" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Description :
          </label>
          <input type="text" id="description" class="form-control" formControlName="description" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Prix :
          </label>
          <input type="number" id="price" class="form-control" formControlName="price" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Categorie produit :
          </label>
          <input type="text" id="categoryProduct" class="form-control" formControlName="category" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Quantity
          </label>
          <input type="text" id="quantity" class="form-control" formControlName="quantity" >
        </div>

        <div class="form-goup">
          <label class="label_input">
            Négociable :
          </label>
          <select formControlName="negotiable">
            <option value="true">Oui</option>
            <option value="false">Non</option>
          </select>

        </div>

        <div class="form-goup">
          <label class="label_input">
            Image :
          </label>
          <input type="text" id="image" class="form-control"  >
        </div>

      </div>

      <button class="btn btn-danger" (click)="onSubmit()"> Créer le produit </button>

    </form>

  </div>

</div>




<div id="overlay"></div>
