<div class="main_block">
  <div>
    <div class="title left-title" (click)="showInfos()" ><h2> Information produit </h2></div>
    <div class="title right-title" *ngIf="this.authService.getConnectedUserId() === product?.creator?.id" (click)="showProposals()"><h2> Proposition d'achat </h2></div>
  </div>

  <div class="infos-page" *ngIf="displayInfos == true">
    <div class="left-side">
      IMAGE
    </div>


    <div class="right-side">

          <div class="infos-group">
            <label class="label_input">
              Nom :
            </label>
            <div> {{product?.name}} </div>
          </div>

          <div class="infos-group">
            <label class="label_input">
              Description :
            </label>
            <div id="product-description"> {{product?.description}} </div>
          </div>

          <div class="infos-group">
            <label class="label_input">
              Prix :
            </label>
            <div> {{product?.price}} € </div>
          </div>

          <div class="infos-group">
            <label class="label_input">
              Categorie produit :
            </label>
            <div> {{product?.category?.name}} </div>
          </div>

          <div class="infos-group">
            <label class="label_input">
              Quantity
            </label>
            <div> {{product?.quantity}} </div>
          </div>

          <div class="infos-group">
            <label class="label_input">
              Négociable :
            </label>
            <div> {{product?.negotiable === 'TRUE' ? 'Oui' : 'Non' }} </div>
          </div>

    </div>
  </div>

  <div class="proposal-page" *ngIf="displayProposal == true">

    <div  class="proposal-box" *ngFor="let proposal of productProposals">

      <div class="left-proposal">
        <div> De : {{proposal.user?.pseudo}}</div>
        <div> Proposition : {{proposal.price}} €</div>
        <div> Message :{{proposal.message}}</div>
      </div>

      <div class="right-proposal">

        <button class="btn btn-success action-button" (click)="confirmProposal(proposal)">
          Valider
        </button>

        <button class="btn btn-danger action-button " (click)="refuseProposal(proposal)">
          Refuser
        </button>

      </div>


    </div>


  </div>

  <div *ngIf="this.authService.getConnectedUserId() !== product?.creator?.id">
    <button (click)="buyProduct(product)"> ACHETER </button>
    <button *ngIf="product.negotiable === 'TRUE' " (click)="displayProposalForm()" > Proposer </button>
  </div>

</div>


<div id="overlay" (click)="closeInfos()"></div>
<div id="proposal-interface">
  <div>Proposition d'achat</div>
  <form [formGroup]="proposalForm" (submit)="makeProposal(product)">

    <div class="form-goup">
      <mat-form-field appearance="legacy">
        <mat-label>Prix</mat-label>
        <input formControlName="price" matInput type="number" >
      </mat-form-field>
    </div>

    <div class="form-goup">
      <mat-form-field appearance="legacy">
        <mat-label>Message</mat-label>
        <input formControlName="message" matInput type="text" >
      </mat-form-field>
    </div>

    <button type="submit"> valider </button>
  </form>
  <button (click)="closeProposalForm()"> annuler </button>
</div>
